.app-title {
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  font-size: 1.25rem;
}

.app-title-icon {
  margin-right: 0.25rem;
}
